aiohttp==3.7.4.post0
altgraph==0.17
appdirs==1.4.4
args==0.1.0
asgiref==3.3.1
async-timeout==3.0.1
attrs==21.2.0
beautifulsoup4==4.9.3
board==1.0
bs4==0.0.1
certifi==2020.11.8
chardet==4.0.0
chess==1.3.2
click==7.1.2
clint==0.5.1
comtypes==1.1.7
cycler==0.10.0
decorator==4.4.2
discord==1.0.1
discord.py==1.7.2
distlib==0.3.1
Django==3.1.3
docopt==0.6.2
ecapture==0.0.5
feedparser==6.0.2
filelock==3.0.12
Flask==1.1.2
future==0.18.2
google==3.0.0
gTTS==2.2.1
idna==2.10
imageio==2.9.0
itsdangerous==1.1.0
Jinja2==2.11.2
Js2Py==0.70
keyboard==0.13.5
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
more-itertools==8.6.0
MouseInfo==0.1.3
multidict==5.1.0
networkx==2.5
numpy==1.19.4
opencv-python==4.4.0.46
packaging==20.8
pefile==2019.4.18
Pillow==8.0.1
pipenv==2020.11.15
pippip==0.0.10
pipwin==0.5.0
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyjokes==0.6.0
pyjsparser==2.7.1
PyJWT==2.0.0
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
pypiwin32==223
PyPrind==2.11.2
PyRect==0.1.4
PyScreeze==0.1.26
pySmartDL==1.3.4
python-dateutil==2.8.1
pyttsx3==2.90
PyTweening==1.0.3
pytz==2020.4
PyWavelets==1.1.1
pywin32==300
pywin32-ctypes==0.2.0
requests==2.25.1
scikit-image==0.18.1
scipy==1.5.4
secure-smtplib==0.1.1
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.1
SpeechRecognition==3.8.1
sqlparse==0.4.1
tifffile==2020.12.8
twilio==6.50.1
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.2
urlopen==1.0.0
virtualenv==20.2.1
virtualenv-clone==0.5.4
Werkzeug==1.0.1
wikipedia==1.4.0
winshell==0.6
wolframalpha==4.1.1
xmltodict==0.12.0
yarl==1.6.3
